@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Fira Sans', 'Lato'; /* Font families for the webpage */
}

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40)); /* Gradient dark purple background */
}

h1 {
    color: cyan;
    font-size: 2em;
    margin-bottom: 0.5em;
} /* Cyan color and font size and spacing adjustments for <h1> element */

h2 {
    color: plum;
    font-size: 1.5em;
    margin-bottom: 1em;
} /* Plum color and font size and spacing adjustments for <h2> element */

a {
    display: inline-block;
    color: yellow;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid #00FFFF;
    transition: all 0.3s ease;
} /* Makes <a> elements have cyan border and yellow font with an animation transition */

a:hover {
    background-color: green;
    color: white;
    border: 3px solid yellow;
} /* Adds green background, white font, and yellow border when hovering over <a> elements */

.center-text {
    text-align: center;
} /* Centers-aligns text */

.GreenYellowFont {
    color: greenyellow;
} /* Applies a green-yellow text color */

#footer {
    color: pink;
    font-weight: bold;
} /* A custom ID that makes footers bold with pink text color */


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
} /* Makes scrollbars appear if the content overflows the viewport */

.ItalicFont {
    font-style: italic;
} /* Gives text italic styling */

.JustifiedRedText {
    text-align: justify;
    color: hsl(0, 100%, 60%);    
    line-height: 2;
    margin-bottom: 3em;
} /* Gives text justified alignment, a slightly light shade of red, double line height, and 3em bottom margin */